body {
 font-family: 'Times New Roman', Times, serif;
}

h3 {
    color:brown;
}

h2 {
 color: black;
}           



li {
    font-weight: bolder;
    color: blue;
}


button:hover {
    cursor: pointer;
}

button {
    height: 30px;
    width: 200px;
    background-color: darkblue;
    color: white;
}

.logo {
    text-align: center;
}



.logo img {
    height: 200px;
    width: 200px;
}

.info span {
    font-weight: bolder;
    font-size: large;
    color: blue;
}